.layout-loader {
  position: fixed;
  top: 0;
  left: 0;
  background: #514eb7;
  opacity: 1;
  z-index: 999;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  animation: fadeOut 5s forwards;
}

.layout-title {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  width: 100%;

  & > h1 {
    color: #fff;
    text-align: center;
    font-family: 'Quicksand';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 22px; /* 44.898% */
    letter-spacing: -2px;
    text-transform: capitalize;
    height: 0;

    & > span {
      color: #fff;
      font-family: 'Quicksand';
      font-size: 40px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      letter-spacing: -2px;
      text-transform: capitalize;
    }
  }

  & > p {
    color: #fff;
    text-align: center;
    font-family: Quicksand;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 22px; /* 137.5% */
    height: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }

  75% {
    opacity: 1;
  }
}
